:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

main {
  flex: 1 0 auto;
  padding: 50px 100px;
}
@media (max-width: 1000px) {
  main {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  main {
    padding: 20px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-left: 100px;
  padding-right: 100px;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 309px;
}
header li {
  display: inline;
  text-align: right;
  line-height: 34px;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}
header .logo {
  width: 210px;
}
header .logo a {
  text-decoration: none;
}
header .logo img {
  width: 100%;
}
header nav a {
  text-decoration: none;
  color: #000;
}
header nav a:hover {
  text-decoration: underline;
}
header .active {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  header {
    padding: 30px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 20px;
    padding-bottom: 5px;
  }
  header ul {
    width: 190px;
  }
  header li {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }
  header .logo {
    width: 145px;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.loading p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #FF6060;
}

.image-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #FF6060;
}
.image-loader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(246, 246, 246, 0.3);
  border-top: 5px solid #F6F6F6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.image-loader.inactive {
  display: none;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 96, 96, 0.3);
  border-top: 5px solid #FF6060;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.avatar-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
.avatar-loader .spinner {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 96, 96, 0.3);
  border-top: 3px solid #FF6060;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@media (max-width: 768px) {
  .avatar-loader {
    width: 32px;
    height: 32px;
  }
  .avatar-loader .spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 96, 96, 0.3);
    border-top: 2px solid #FF6060;
  }
}

.collapse {
  overflow: hidden;
  transition: height 0.3s ease;
  position: relative;
}
.collapse.rounded .trigger {
  border-radius: 10px;
}
.collapse.open .trigger {
  border-radius: 5px !important;
}
.collapse .trigger {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 5px;
  background-color: #FF6060;
  transition: all 0.3s ease;
  cursor: pointer;
}
.collapse .trigger h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #fff !important;
}
.collapse .trigger img {
  width: 28px;
  height: 28px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.collapse.open .trigger img {
  transform: rotate(180deg);
}
.collapse .text {
  position: relative;
  z-index: 1;
  background-color: #F6F6F6;
  margin-top: -5px;
  padding: 20px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 400;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
.collapse .text p {
  margin: 0;
}
.collapse.open .text {
  transform: translateY(0);
}
@media (max-width: 768px) {
  .collapse .trigger {
    padding: 10px;
    height: 30px;
    border-radius: 5px !important;
  }
  .collapse .trigger h2 {
    font-size: 13px;
    line-height: 18px;
  }
  .collapse .trigger img {
    width: 18px !important;
    height: 18px !important;
  }
  .collapse .text p {
    font-size: 12px !important;
    line-height: 17px !important;
  }
}

#home-page .banner {
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#home-page .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-page .banner .layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-page .banner h1 {
  padding: 20px;
  font-size: 48px;
  font-weight: 700;
  color: #F6F6F6;
  position: absolute;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-wrap: balance;
}
#home-page .logements {
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 43px;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3%;
  row-gap: 50px;
}
#home-page .logements .logementCard {
  width: 31%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
#home-page .logements .logementCard:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#home-page .logements .logementCard:hover .underLayout {
  opacity: 0.9;
}
#home-page .logements .logementCard:hover .layout {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.3) 100%);
}
#home-page .logements .logementCard a {
  display: block;
  width: 100%;
  height: 100%;
}
#home-page .logements .logementCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-page .logements .logementCard .underLayout {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF6060;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
#home-page .logements .logementCard .layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.98) 100%);
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 20px;
  transition: all 0.3s ease;
}
#home-page .logements .logementCard h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  max-width: 80%;
  text-wrap: balance;
}
@media (max-width: 1000px) {
  #home-page .banner {
    border-radius: 20px;
  }
  #home-page .banner h1 {
    font-size: 40px;
    padding: 16px;
  }
  #home-page .logements {
    gap: 4%;
    row-gap: 20px;
    border-radius: 20px;
    margin-top: 30px;
  }
  #home-page .logements .logementCard {
    width: 48%;
  }
  #home-page .logements .logementCard h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #home-page .banner {
    height: 111px;
    border-radius: 10px;
    box-shadow: none;
  }
  #home-page .banner h1 {
    font-size: 24px;
    padding: 16px;
    text-shadow: none;
  }
  #home-page .logements {
    margin-top: 22px;
    margin-bottom: 8px;
    padding: 0;
    background-color: #fff;
  }
  #home-page .logements .logementCard {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 10px;
  }
  #home-page .logements .logementCard .layout {
    padding: 10px;
  }
  #home-page .logements .logementCard h2 {
    font-size: 18px;
    bottom: 18px;
    max-width: 92%;
  }
}

#logement-page .carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}
#logement-page .carousel button {
  background: none;
  border: none;
}
#logement-page .carousel .carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#logement-page .carousel .carousel-image.active {
  opacity: 1;
  position: relative;
}
#logement-page .carousel .left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
#logement-page .carousel .right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
#logement-page .carousel .carousel-pagination {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  #logement-page .carousel .left-arrow .arrow-icon,
  #logement-page .carousel .right-arrow .arrow-icon {
    width: 30px;
    height: 30px;
  }
  #logement-page .carousel .carousel-pagination {
    display: none;
  }
}
#logement-page .cartouche {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  gap: 50px;
}
#logement-page .cartouche .bloc-gauche h1 {
  font-size: 38px;
  font-weight: 500;
  color: #FF6060;
  text-wrap: balance;
}
#logement-page .cartouche .bloc-gauche p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
#logement-page .cartouche .bloc-gauche .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
#logement-page .cartouche .bloc-gauche .tags span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #FF6060;
  padding: 5px 10px;
  border-radius: 10px;
}
#logement-page .bloc-droit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
#logement-page .bloc-droit .host {
  display: flex;
  align-items: center;
  gap: 20px;
}
#logement-page .bloc-droit .host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#logement-page .bloc-droit .host p {
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  text-align: right;
}
#logement-page .bloc-droit .rating {
  display: flex;
  justify-content: end;
  gap: 4px;
}
#logement-page .bloc-droit .rating div {
  width: 36px;
  height: 36px;
}
#logement-page .bloc-droit .rating div img {
  width: 36px;
  height: 36px;
}
#logement-page .stuff {
  display: flex;
  gap: 76px;
  margin-top: 24px;
}
#logement-page .stuff p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
}
#logement-page .stuff .description,
#logement-page .stuff .equipements {
  width: 50%;
}
@media (max-width: 768px) {
  #logement-page .carousel {
    height: 255px;
    border-radius: 10px;
  }
  #logement-page .cartouche {
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 0;
  }
  #logement-page .cartouche .bloc-gauche {
    padding-top: 15px;
    gap: 15px;
  }
  #logement-page .cartouche .bloc-gauche h1 {
    font-size: 18px;
  }
  #logement-page .cartouche .bloc-gauche p {
    padding-top: 5px;
    font-size: 14px;
  }
  #logement-page .cartouche .bloc-gauche .tags {
    gap: 5px;
    margin-top: 10px;
  }
  #logement-page .cartouche .bloc-gauche .tags span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 84px;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 5px;
  }
  #logement-page .cartouche .bloc-droit {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #logement-page .cartouche .bloc-droit .host {
    gap: 10px;
    order: 2;
  }
  #logement-page .cartouche .bloc-droit .host p {
    font-size: 12px;
  }
  #logement-page .cartouche .bloc-droit .host img {
    width: 32px;
    height: 32px;
  }
  #logement-page .cartouche .bloc-droit .rating {
    gap: 2px;
    order: 1;
  }
  #logement-page .cartouche .bloc-droit .rating div {
    width: 18px;
    height: 18px;
  }
  #logement-page .cartouche .bloc-droit .rating div img {
    width: 18px;
    height: 18px;
  }
  #logement-page .stuff {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  #logement-page .stuff .description,
  #logement-page .stuff .equipements {
    width: 100%;
  }
}

#about-page .banner {
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#about-page .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about-page .banner .layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-page .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 108px;
  margin-top: 40px;
}
@media (max-width: 1000px) {
  #about-page .banner {
    border-radius: 20px;
  }
  #about-page .banner h1 {
    font-size: 40px;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  #about-page .banner {
    height: 111px;
    border-radius: 10px;
  }
  #about-page .banner h1 {
    font-size: 24px;
    padding: 16px;
  }
  #about-page .content {
    margin-top: 20px;
    gap: 20px;
    padding: 0;
  }
}

#error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#error-page h1 {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
#error-page P {
  font-size: 38px;
  font-weight: 500;
  color: #FF6060;
}
#error-page a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  color: #000;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

footer {
  flex-shrink: 0;
  background-color: #000;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer img {
  margin-top: 35px;
}
footer p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}
@media (max-width: 768px) {
  footer {
    gap: 8px;
    padding-bottom: 60px;
  }
  footer p {
    font-size: 12px;
    line-height: 18px;
    max-width: 134px;
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
